
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Karla', sans-serif;
    --primary-clr-1: hsl(179, 62%, 43%);
    --primary-clr-2: hsl(71, 73%, 54%);

    --neutral-clr-1: hsl(204, 43%, 93%);
    --neutral-clr-2: hsl(218, 22%, 67%);

    font-size: 16px;
}
html {
    font-size: var(--font-size);
    min-height: 100vh;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--neutral-clr-2);
    padding: 20px;
    font-family: var(--main-font);
}
/* .container{
    height: 80px;
} */

section{
   font-family: var(--main-font); 
   padding: 10px;

}

/* section1 */
.container{
    max-width: 340px;
    background-color: var(--neutral-clr-1);
}

#join-community{
    background-color: var(--neutral-clr-1);
}

#join-community h1{
    color: var(--primary-clr-1);
    margin: 20px;

}
#join-community .promise{
    color: var(--primary-clr-2);
    margin-bottom: 20px
}

#join-community .description{
    margin-bottom: 10px;
    color:rgba(27, 25, 25, 0.5);
    margin-bottom: 20px;
}

/* section 2 */

#subs{
    background-color: var(--primary-clr-1);
    color: white;

}

#subs h2{
    margin-bottom: 20px;
}

#subs .price .amount{
    font-size: 2em;
    word-spacing: 4em;
}

#subs .price .rate{
    color: rgba(255, 255, 255, 0.4);
}

#subs .price .price-description{
margin: 20px 0 20px 0;
font-weight: 400;
}

button{
  margin: 10px 0px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-clr-2);
  width: 100%;
  height: 50px;

}


/* section 3 */


#sub{
    background-color: hsla(179, 62%, 43%,0.6);
    color: white;   
}
#sub h2{
    margin: 10px 0px 30px 10x;;  
}
#sub ul{
          margin: 10px 5px;
          color: rgba(255, 255, 255, 0.5);;
}



/* Desktop Styles */

@media screen and (min-width: 720px){
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        max-width: 50%;
        margin: 0 auto;
       
    /* }
    #subs{
        float: left;
         width: 50%;
    }

    #subs,#sub{
        height: 220px;
    }
    .clearfix{
       clear: left;
} */
}
#flex-container {
    display: flex;
}
#flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .parent{
    display: flex;
  }
  .parent > *{
    width: 100%;
  }
}